# model
openai[embeddings]~=0.27
# networking
#neon_llm_core[chatbots]~=0.1.0,>=0.1.1a5
neon-llm-core[chatbots]@git+https://github.com/neongeckocom/neon-llm-core@REF_UseConfiguredPersonasByDefault#egg-neon-llm-core
neon-utils[sentry]~=1.12
